* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
div{
  overflow: hidden;
}
/*底部设置*/
a:link,a:visited,a:hover {
  color: black;
  background-color: pink;
  text-decoration: none;
}
a:active {
  color: white;
  background-color: pink;
  text-decoration: none;
}
ul{
  overflow: hidden;
  background-color: pink;
}
li {
  float: left;
  width: 25%;
  height: 79.2px;
  font-size: 60px;
  line-height: 79.2px;
  text-align: center;
}
#navigation {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

/*内容设置*/
#article {
  overflow: hidden;
  padding: 10px 10px;
}
<<<<<<< HEAD
#sha, #xian, #xiao, #chi {
 font-size: 50px;
 overflow: hidden;
}
#test {
  height: 1000px;
}
div.box {
	height: 200px;
  width: 100%;
  background-color: grey;
}
div.sub {
  width: 180px;
  height: 180px;
  background-color: pink;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
};
div.sub-right {
  float: left;
  width: 500px;
  height: 180px;
  background-color: pink;
  margin-left: 20px;
  margin-top: 10px;
=======

/* 不可以这样，如果你有的 p 不想 50px 怎么办 
p {
	font-size: 50px;
}
*/

/* 应该使用class */
.menu-title {
	font-size: 50px;
>>>>>>> ad01b2b7bb64b6ff5f80ab44f24b7ef66eb70565
}