* {
	margin:0;
	padding: 0;
	list-style: none;
}
div{
	overflow: hidden;
}
/*底部设置*/
a:link,a:visited,a:hover {
	color: black;
	background-color: pink;
	text-decoration: none;
}
a:active {
	color: white;
	background-color: pink;
	text-decoration: none;
}
ul{
	overflow: hidden;
	background-color: pink;
}
li {
	float: left;
	width: 25%;
	height: 79.2px;
	font-size: 60px;
	line-height: 79.2px;
	text-align: center;
}
#navigation {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

/*内容设置*/
#article {
	width: 764px;
	height: 980px;
	padding: 10px 10px;
}

/* 不可以这样，如果你有的 p 不想 50px 怎么办 
p {
	font-size: 50px;
}
*/

/* 应该使用class */
.menu-title {
	font-size: 50px;
}