* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
div{
  overflow: hidden;
}
/*底部设置*/
a:link,a:visited,a:hover {
  color: black;
  background-color: pink;
  text-decoration: none;
}
a:active {
  color: white;
  background-color: pink;
  text-decoration: none;
}
ul{
  overflow: hidden;
  background-color: pink;
}
li {
  float: left;
  width: 25%;
  height: 79.2px;
  font-size: 60px;
  line-height: 79.2px;
  text-align: center;
}
#navigation {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

/*内容设置*/
#article {
  overflow: hidden;
}
.top {
  padding-right: 100px;
  background-color: black;
}
#shiwujiaoliu,#shiwudan {
  float: left;
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 100px;
}

.add {
  float: left;
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 100px;
  margin-left: -100px;
  position: relative;
  left: 100px;
}
input {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  border: 2px solid ;
}
#sha, #xian, #xiao, #chi {
 font-size: 50px;
 overflow: hidden;
}

/*中间文字*/
 /*sha字后的中间文字*/
#test {
  height: 1000px;
}
div.box {
	height: 200px;
  width: 100%;
  background-color: grey;
  padding-left:200px;
  padding-right: 20px;
}
div.sub {
  width: 180px;
  height: 180px;
  background-color: white;
  float: left;
  margin-left: -100%;
  margin-top: 10px;
  position: relative;
  left: -180px;
}
div.sub-right {
  float: left;
  height: 180px;  
  width: 100%;
  background-color: pink;
  margin:10px 0px;
}

/*xian字后的中间文字*/
.list {
  width: 100%;
  height: 140px;
  background-color: grey;
  padding: 10px 10px 10px 130px;
}
.description {
  float: left;
  width: 100%;
  height: 120px;
  background-color: pink;
  padding-left: 10px;
  line-height: 120px;
}
.photo {
  float: left;
  width:120px;
  height: 120px;
  background-color: white;
  margin-left: -100%;
  position: relative;
  left: -120px;
}